header {

    background-color:rosybrown;
   
    text-align:left;
    padding: 40px;
    align-content: flex-end;
    width: 100%;
}
footer{
    background-color:rosybrown;

    text-align:left;
    padding: 40px;
    align-content: flex-end;
    width: 100%;

}
 body{
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}
section{

   padding-left: 20px;
    padding-top: 6px;
    height: 700px;
}